{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}


<div class="row categories">
    <div class="col m4 s12">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/category/53557/1"><img class="activator" src="{% static "pics/boots.jpg" %}"></a>
            </div>
            <div class="card-content">
                <a href="/category/53557/1"><span class="card-title activator grey-text text-darken-4">Сапоги</span></a>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/category/45333/1"><img class="activator" src="{% static "pics/oxfords.jpg" %}"></a>
            </div>
            <div class="card-content">
                <a href="/category/45333/1"><span class="card-title activator grey-text text-darken-4">Оксфорды и Балетки</span></a>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/category/55793/1"><img class="activator" src="{% static "pics/heels.jpg" %}"></a>
            </div>
            <div class="card-content">
                <a href="/category/55793/1"><span class="card-title activator grey-text text-darken-4">На каблуке</span></a>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/category/62107/1"><img class="activator" src="{% static "pics/sandals.jpg" %}"></a>
            </div>
            <div class="card-content">
                <a href="/category/62107/1"><span class="card-title activator grey-text text-darken-4">Босоножки</span></a>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/category/95672/1"><img class="activator" src="{% static "pics/sport.jpg" %}"></a>
            </div>
            <div class="card-content">
                <a href="/category/95672/1"><span class="card-title activator grey-text text-darken-4">Спорт</span></a>
            </div>
        </div>
    </div>

    <div class="col m4 s12">
        <div class="card medium">
            <div class="card-image waves-effect waves-block waves-light">
                <a href="/category/11632/1"><img class="activator" src="{% static "pics/slippers.jpg" %}"></a>
            </div>
            <div class="card-content">
                <a href="/category/11632/1"><span class="card-title activator grey-text text-darken-4">Тапочки</span></a>
            </div>
        </div>
    </div>
</div>

{% endblock %} 